html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    resize: none;
}


textarea.form-control:focus {
        box-shadow: none;
}

.h-200px {
    height: 200px;
}

.pre-scrollable {
    max-height: 200px;
    overflow-y: scroll;
}